.landing {
  background-image: url('../../../../static/img/wisestone-landing.jpg')
}

.nav:hover {
  .nav--description {
    background-color: #CE854A !important;
    &--content {
      color: #fff;
    }
  }
  .nav--title {
    color: #CE854A;
  }
}

.landing {
  &--wrapper {
    background-color: #0D0F31;
  }
}
