.landing {
  background-image: url('../../../../static/img/bmw-landing.jpg')
}

.nav:hover {
  .nav--description {
    background-color: #72e4a7 !important;
    &--content {
      color: #fff;
    }
  }
  .nav--title {
    color: #72e4a7;
  }
}

.landing {
  &--wrapper {
    background-color: #194DD9;
  }
}