.landing {
  background-image: url('../../../../static/img/doctobot-landing.jpg')
}

.mockup--img {
  max-width: 400px;
}

.visuals {
  display: block;
  text-align: center;
  &--img {
    max-width: 400px;
    &:nth-child(3) {
      margin-right: 130px;
      @media screen and (max-width: 934px) {
        margin-right: 0;
      }
    }
  }
}

.feature {
  display: block;
  text-align: center;
  margin-bottom: 230px;
  .feature--content {
    margin: 0 auto 200px auto;
  }
  .feature--img {
    max-width: 320px;
    &:nth-child(3) {
      margin: 0 50px;
      @media screen and (max-width: 1068px) {
        margin: 20px 0;
      }
    }
  }
}

.nav:hover {
  .nav--description {
    background-color: #0D0F31 !important;
    &--content {
      color: #fff;
    }
  }
  .nav--title {
    color: #0D0F31;
  }
}

.landing {
  &--wrapper {
    background-color: #72e4a7;
  }
}