.landing {
  background-image: url('../../../../static/img/trilatte-landing.jpg')
}

.nav:hover {
  .nav--description {
    background-color: #194DD9 !important;
    &--content {
      color: #fff;
    }
  }
  .nav--title {
    color: #194DD9;
  }
}

.landing {
  &--wrapper {
    background-color: #CE854A;
  }
}