@font-face {
  font-family: 'Apercu';
  src: url('../static/fonts/Apercu-Light.woff2') format('woff2'), url('../static/fonts/Apercu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('../static/fonts/Apercu-Bold.woff2') format('woff2'), url('../static/fonts/Apercu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
